*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: orange;
  padding: 10px;
}

header section{
  display: flex;
  justify-content: center; 
}

header .logo{
  background-color: yellow;
  width: 200px;
}

header .menu{
  display:flex;
  justify-content: space-around;
  background-color: green;
  width: 600px;
}

header .login{
  display: flex;
  justify-content: flex-end;
  background-color: red;
  width: 200px;
}

.container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* background-color: green; */
  /* height: 200px; */
  width: 100%;
  text-align: center;
}

.top{
  text-align: center;
  padding: 50px 250px;
  background-color: red;
  margin: 0 14%;
}

.container2{
  /* background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  width: 300px; */
  /* margin: 0 auto; */ 
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* background-color: green; */
  /* height: 200px; */
  width: 100%;
  text-align: center;
}

.top2{
  text-align: center;
  padding: 50px 250px;
  background-color: rgb(158, 123, 123);
  margin: 0 14%;
  display: flex ;
  justify-content: center;
  align-items: center;
}
 
.top2 img{
  width: 200px;
  height: auto;
}

.top2 .testo{
  display: flex;
  flex-direction: column;
}

.top3{
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  text-align: center;
  padding: 50px 250px;
  background-color: rgb(127, 71, 71);
  margin: 0 14%;
}
 
.top3 img{
  width: 200px;
  height: auto;
}

.top3 .testo{
  display: flex;
  flex-direction: column;
}


.top4{
  text-align: center;
  padding: 50px 250px;
  background-color: rgb(212, 44, 44);
  margin: 0 14%;
  display: flex ;
  justify-content: center;
  align-items: center;
}
 
.top4 img{
  width: 200px;
  height: auto;
}

.top4 .testo{
  display: flex;
  flex-direction: column;
}

.bottom{
  margin: 0 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom img{
  width: 600px;
  height: 500px;

}

footer{
  background-color: green;
  display: flex;
  justify-content: center;
  width: 100%;
}

.colonne{
  display: flex;
  justify-content: space-between;
  background-color: orange;
  margin: 0 14%;
  align-items: flex-start;
  border-bottom: 2px solid black;
}

.colonna1{
  display: flex;
  flex-direction: column;

}
