*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: orange;
  padding: 10px;
}

header section{
  display: flex;
  justify-content: center; 
}

header .logo{
  background-color: yellow;
  width: 200px;
}

header .menu{
  display:flex;
  justify-content: space-around;
  background-color: rgb(113, 168, 113);
  width: 600px;
}

header .login{
  display: flex;
  justify-content: flex-end;
  background-color: red;
  width: 200px;
}

/* prima parte sotto lheader */
.container-top{
  background-color: #4436bd;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.top{
  text-align: center;
  padding: 10% 15%;
  background-color: rgb(219, 51, 107);
  margin: 0 21%;
}
 /* fine prima parte sotto l header */

 /* inizio seconda parte */
.container2{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.top2{
  text-align: center;
  padding: 6% 0%;
  margin: 0 14%;
  display: flex ;
  justify-content: center;
  align-items: center;
}
 
.top2 .immagine{
  background-color: red;
  width: 60%;
  height:300px;
}

.top2 .testo{
  background-color: pink;
  width: 40%;
  height: 300px;
}
/* fine seconda parte */

/* terza parte */
.container3{
  background-color: gray; 
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
} 

.top3{
  background-color: grey;
  text-align: center;
  padding: 6% 3%;
  margin: 0 14%;
  display: flex ;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
 
.top3 .immagine{
  background-color: red;
  width: 60%;
  height:300px;

}

.top3 .testo{
  background-color: pink;
  width: 40%;
  height: 300px;
}
/* fine terza parte */

/* quarta parte */
.container4{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
} 

.top4{
  text-align: center;
  padding: 6% 3%;
  margin: 0 14%;
  display: flex ;
  justify-content: center;
  align-items: center;
}
 
.top4 .immagine{
  background-color: rgb(142, 19, 19);
  /* metti un div largo il 60% con dentro un immagine */
  width: 60%;
  height:300px;
}

.top4 .testo{
  background-color: pink;
  width: 40%;
  height: 300px;
}
 /* fine quarta parte */

 /* parte finale con l immagine grande prima del footer */
.bottom{
  background-color: green;
  margin: 0 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom img{
  width: 600px;
  height: 500px;

}
/* fine parte prima del footer */


footer{
  background-color: rgb(64, 67, 64);
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.contenitore-footer{
  margin: 8px 14%;
}

.colonne{
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: orange;
  align-items: flex-start;
  border-bottom: 5px solid black;
}

.colonna-grande{
  background-color: red;
  width: 30%;
}

colonna-piccola{
  background-color: orange;
  width: 17.5%;
}

.footer-sotto{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-sotto img{
  height: 40px;
  width: 100px;
}